<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/plugins/bootstrap.min.css" />
    <script src="js/plugins/jquery.min.js"></script>
    <script src="js/plugins/angular.min.js"></script>
    <script src="js/plugins/bootstrap.min.js"></script>
    <script src="js/controllers/app.js"></script>
    <script src="js/plugins/angular-screenshot.js"></script>

</head>

<body ng-controller="AppController as appCtrl">
    <div class="well">

    </div>
    <button class="btn btn-success" ng-click="appCtrl.openScreenshot()">
        ...
    </button>
    <p></p>
    <screenshot is-open="appCtrl.isOpenScreenshot" template-scope="appCtrl.$scope" template="'<div><button class=\'btn btn-success\' ng-click=\'appCtrl.download()\'>Download</button></div>'">
        <div class="well" id="root" style="height: 30em;">

            <button class="btn btn-primary">我是測試一</button>
            <button class="btn btn-danger">我是測試二</button>
            <button class="btn btn-warning">我是測試三</button>

        </div>
    </screenshot>
    <div id="render"></div>
</body>

</html>